# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

